*.DS_Store
*.bz2
*.code-workspace
*.ckpt.*
*.onnx
*.pdf
*.pt
*.pyc
*.zip
*hash
*pb2.py
*pb2_grpc.py
*smoke_result*
*swp
*vagrant*log
*.jpg
gurobi/gurobi.lic
.DS_Store
.coverage
.env
.ipynb_checkpoints
.org.eclipse.core.resources.prefs
.project
.pydevproject
.results
.vagrant
.vscode/settings.json
__pycache__
builds
deployments
htmlcov
logs/*
nohup.out
org.eclipse.core.resources.prefs
package-lock.json
saved_models/*
line_counter.py
*.png
model_zoo/onnx
